.idea
.git
.gitignore
.dockerignore

docker-build.bat
docker-compose.bat
docker-compose.local.yml
docker-compose.yml
Dockerfile.app
Dockerfile.authentication-service

CHANGELOG.md
README.md
TODO.md

var/cache
var/run
var/temp

system/nginx
system/databases/database