.idea
.git
.gitignore
.dockerignore

docker-build.bat
docker-compose.bat
docker-compose.local.yml
docker-compose.yml
Dockerfile.app
Dockerfile.authentication-service
Dockerfile.dashboard
Dockerfile.i18n-service
Dockerfile.resources-service
Dockerfile.url_shortner-service
Dockerfile.users-service

CHANGELOG.md
README.md
TODO.md

var/cache
var/run
var/temp
var/logs

system/nginx
system/databases/database