.idea
.git
.gitignore
.dockerignore

src/docker/docker-build.bat
src/docker/docker-compose.bat
src/docker/docker-compose.local.yml
docker-compose.yml
src/docker/Dockerfile.app
src/docker/Dockerfile.authentication-service
src/docker/Dockerfile.dashboard
src/docker/Dockerfile.i18n-service
src/docker/Dockerfile.resources-service
src/docker/Dockerfile.url_shortner-service
src/docker/Dockerfile.users-service

CHANGELOG.md
README.md
TODO.md

var/cache
var/run
var/temp
var/logs

system/nginx
system/databases/database